"$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[template-aliases]
'hybrid_id(commit, change_shortest, commit_shortest)' = '''
  coalesce(
    if(commit.divergent(),
      concat(
        label("divergent", commit.change_id().shortest() ++ "??"),
        commit.commit_id().shortest(commit_shortest)
      ),
    ),
    if(commit.hidden(),
      commit.commit_id().shortest(commit_shortest)
    ),
    if(commit.immutable(), commit.commit_id().shortest(commit_shortest)),
    commit.change_id().shortest(change_shortest),
  )
'''

'format_timestamp(timestamp)' = '''
  format_timestamp_adaptive("%Y-%m-%d %H:%M", timestamp)
'''

"format_timestamp_adaptive(format, timestamp)" = '''
  if(timestamp.after("1 year ago"),
    timestamp.ago(),
    timestamp.format(format),
  )
'''

# Show email, but shorten GitHub noreply emails.
"format_short_signature(s)" = '''
  if(s.email().domain().starts_with("users.noreply.github.com"),
    s.email().local().replace(regex:"^[0-9]+\\+(.*)", "$1@gh"),
    s.email(),
  )
'''
