"$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[template-aliases]
"_annotate_commit_info_prefix(commit)" = '''
  separate(" ",
    hybrid_id(self.commit(), 8, 8),
    pad_end(8, truncate_end(8, commit.author().email().local())),
    pad_end(13, 
      format_timestamp_adaptive(
        "%Y-%m-%d",
        commit_timestamp(commit),
      ),
    ),
  )
'''

"_annotate_commit_info_meta(commit)" = '''
  separate(" ",
    hybrid_id(self.commit(), 8, 8),
    pad_end(
      16,
      format_timestamp(self.commit().author().timestamp()),
    ),
    format_short_signature(commit.author()),
  )
'''

"_annotate_commit_info_desc(commit, desc_limit)" = '''
  label("annotate_description",
    hyperlink(
      "https://github.com/jj-vcs/jj/commit/" ++ commit.commit_id(),
      truncate_end(desc_limit,
        if(commit.description(),
          commit.description().first_line(),
          label(if(commit.empty(), "empty"), description_placeholder),
        ),
        "…",
      )
    )
  )
'''

file_annotate_normal = '''
concat(
  if(first_line_in_hunk,
    _annotate_commit_info_prefix(commit),
    pad_end(31, ""),
  ),
  " ",
  label("annotate_linenumber", pad_start(4, line_number) ++ " "),
  truncate_end(80, stringify(content).remove_suffix("\n"), "…") ++ "\n"
)
'''

"_gutter(s)" = 'label("gutter", pad_start(4, s) ++ " ")'

# TODO(algmyr): Can we add list support in the template language?
#               Key parts:
#               - List constuction. Could be [a, b, c] or maybe list(a, b, c).
#               - List chaining/concatenation. Maybe re-use ++ for this.
#               - List indexing? This is probably less impactful for now.
"file_annotate_header(gutter_width, full_width)" = '''
concat(
  if(first_line_in_hunk,
    label("annotate_header",
      if(true,
        separate("\n",
          pad_end(full_width + gutter_width, _annotate_commit_info_meta(commit)),
          pad_end(full_width + gutter_width, _annotate_commit_info_desc(commit, full_width + gutter_width)),
        ),
        pad_end(full_width + gutter_width,
          separate(" ",
            _annotate_commit_info_meta(commit),
            _annotate_commit_info_desc(commit, full_width/2),
          )
        ),
      ),
    )
    ++ "\n"
  ),
  _gutter(line_number),
  truncate_end(full_width, stringify(content).remove_suffix("\n"), "…") ++ "\n"
)
'''

file_annotate_header = 'file_annotate_header(6, 80)'

[templates]
file_annotate = 'file_annotate_header'

[colors]
"annotate_header" = { bg = "#1c1c1c" }
"annotate_description" = { fg = "bright black" }
"gutter" = { bg = "#1c1c1c" }
