"$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[template-aliases]
"format_short_commit_id(commit_id)" = ''

"format_short_change_id_with_change_offset(commit)" = '''
  hybrid_id(commit, 0, 8)
'''

"log(commit)" = '''
  builtin_log_compact(commit)
  ++ if(commit.contained_in("diff_set"), commit.diff().summary())
'''

[revset-aliases]
"diff_set" = "work"

[templates]
log = 'log(self)'
